@mixin label() {
    margin: 0 auto;
    padding: 6px 12px;
    width: 115px;
    height: 27px;
    background-color: #000000;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
}

@mixin title() {
    margin: 0 auto;
    margin-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

@mixin subtitle() {
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #222222;
}